<div class="animation-element slide-left">
  <h1 class="section-title">Contact</h1>
          
                      <h1>This is my one page app!</h1>
  <div id="contact">
    <%= render 'pages/partials/contact_form' %>
  </div>



                    </div>