<div class="m-cont about-top-margin">
  <!-- <h1 class="section-title animation-element slide-left"></h1> -->
  
  <div class="main-container" ">
    <div class="fixer-container">

        <div class="row" >



            <div class="col-sm-6 animation-element slide-left">
                <!-- center elements -->
                    <div class="m-cont about-margin">
                                  <div class="main-container about-margin">
                                    <div class="fixer-container">

                                      <div class = "info">
                                        <div class="contente">
                                          <div>
                                             <div class="col-right">
                                              <!-- profile image -->
                                              <img class="col-right-overlay" style=" max-width: 450px; width: 100% " src="<%= asset_path('IMG_3072.jpg') %>" class= "img-fluid">
                                             </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>


                    </div>
            </div>

            <div class="col-sm-6 animation-element slide-left">

                    <div class="m-cont">
                                  <div class="main-container">
                                    <div class="fixer-container">

                                      <div class = "info">
                                        <div class="contente">
                                          <div>
                                            <i class="fa fa-heart"></i>
                                             <p class="about-paragraph">Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph.</p>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                    </div>

              </div>


        </div>

</div>
</div>


</div>