<div class="m-cont about-top-margin">
  <!-- <h1 class="section-title animation-element slide-left"></h1> -->
  
  <div class="main-container" ">
    <div class="fixer-container">

        <div class="row" >



            <div class="col-sm-6 animation-element slide-left">
                <!-- center elements -->
                    <div class="m-cont about-margin">
                                  <div class="main-container about-margin">
                                    <div class="fixer-container">

                                      <div class = "info">
                                        <div class="contente">
                                          <div>
                                             <div class="col-right">
                                              <!-- profile image -->
                                              <img class="col-right-overlay" style=" max-width: 450px; width: 100% " src="<%= asset_path('IMG_3072.jpg') %>" class= "img-fluid">
                                             </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>


                    </div>
            </div>

            <div class="col-sm-6 animation-element slide-left">

                    <div class="m-cont">
                                  <div class="main-container">
                                    <div class="fixer-container">

                                      <div class = "info">
                                        <div class="contente">
                                          <div>

                                            <!-- about name -->

                                            <svg viewBox="0 0 370 120">
                                            <symbol id="s-text">
                                              <text text-anchor="middle" x="50%" y="80%">NOOR</text>
                                            </symbol>

                                            <g class = "g-ants">
                                              <use xlink:href="#s-text" class="text-copy"></use>
                                              <use xlink:href="#s-text" class="text-copy"></use>
                                              <use xlink:href="#s-text" class="text-copy"></use>
                                              <use xlink:href="#s-text" class="text-copy"></use>
                                              <use xlink:href="#s-text" class="text-copy"></use>
                                            </g>
                                          </svg>


                                             <p class="about-paragraph">A michigan based photographer who has the passion to take photos for special events, birthdays, and graduation. Nearly 5 years of experience in indoor and outdoor portrait photography. Currently pursuing a geophysics degree in Western Michigan University and working as a freelance photographer.</p>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                    </div>

              </div>


        </div>

</div>
</div>


</div>