<div class="">


  <!-- center elements -->
  <div class="main-container">
    <div class="fixer-container">


  <h1 class="section-title">Contact</h1>

  <div id="contact" style="text-align: center; !important ">
    <%= render 'pages/partials/contact_form' %>
  </div>


</div>
</div>
                    </div>