<div class="m-cont">
  <h1 class="section-title animation-element slide-left">Photo gallery</h1>

  <!-- center elements -->
  <div class="main-container">
    <div class="fixer-container">
      <!-- first two figures -->
      <div class = figures>

        <!-- figure 1: indoor -->
        <figure class="thumb-photos animation-element slide-left">
          <!-- thumb image -->
          <img src="https://image.ibb.co/kyWh08/IMG_6967.jpg"/>
          <!-- thumb text link -->
          <div>
            <a href="#" data-toggle="modal" data-target="#myModalIndoor" ><p class="left-icon">Indoor</p></a>
          </div>
        </figure>


        <!-- figure 2: outdoor -->
        <figure class="thumb-photos animation-element slide-left">
          <!-- thumb image -->
          <img src="https://preview.ibb.co/cTufno/04af0a07_f9fb_49ea_9ed3_7554173a624c.jpg" alt="sample32"/>
          <!-- thumb text link -->
          <div>
            <a href="#" data-toggle="modal" data-target="#myModalOutdoor"><p class="left-icon">Outdoor</p></a>
          </div>      
        </figure>

      </div>

      <!-- figure 3: birthdays -->
    <div class = figures>
    <figure class="thumb-photos animation-element slide-left">
      <!-- thumb image -->
      <img src="https://preview.ibb.co/bSwFL8/IMG_1219.jpg" alt="sample32"/>
      <!-- thumb text link -->
      <div>
        <a href="#" data-toggle="modal" data-target="#myModalBirthday" ><p class="left-icon">Birthdays</p></a>
      </div>      
    </figure>

    <!-- figure 4: graduations -->
    <figure class="thumb-photos animation-element slide-left">
      <!-- thumb image -->
      <img src="https://image.ibb.co/fgOvL8/90ee0b4d_faf2_4709_84b5_988a2067d54e.jpg" alt="sample32"/>
      <!-- thumb text link -->
      <div>
        <a href="#" data-toggle="modal" data-target="#myModalGraduation"><p class="left-icon">Graduations</p></a>
      </div>      
    </figure>
    </div>


    </div>
  </div>

</div>

<!-- trigger modal for figure 1: indoor -->
<div class="modal fade" id="myModalIndoor" role="dialog">
  <div class="modal-dialog">
    <!-- render carsoul (modal content) -->
    <%= render "pages/partials/modal-partials/indoor-partial" %>
  </div>
</div>

<!-- trigger modal for figure 1: outdoor -->
<div class="modal fade" id="myModalOutdoor" role="dialog">
  <div class="modal-dialog">
    <!-- render carsoul (modal content) -->
    <%= render "pages/partials/modal-partials/outdoor-partial" %>
  </div>
</div>

<!-- trigger modal for figure 1: birthday -->
<div class="modal fade" id="myModalBirthday" role="dialog">
  <div class="modal-dialog">
    <!-- render carsoul (modal content) -->
    <%= render "pages/partials/modal-partials/birthday-partial" %>
  </div>
</div>

<!-- trigger modal for figure 1: indoor -->
<div class="modal fade" id="myModalGraduation" role="dialog">
  <div class="modal-dialog">
    <!-- render carsoul (modal content) -->
    <%= render "pages/partials/modal-partials/graduation-partial" %>
  </div>
</div>

