<div class="m-cont">
  <h1 class="section-title animation-element slide-left">Photo gallery</h1>

  <!-- center elements -->
  <div class="main-container">
    <div class="fixer-container">

      <div class = figures>

        <figure class="thumb-photos animation-element slide-left">
            <img src="https://image.ibb.co/kyWh08/IMG_6967.jpg"/>
          <div>
            <a href="#"><p class="left-icon">Indoor</p></a>
          </div>
        </figure>

        <figure class="thumb-photos animation-element slide-left">
          <img src="https://preview.ibb.co/cTufno/04af0a07_f9fb_49ea_9ed3_7554173a624c.jpg" alt="sample32"/>
          <div>
            <a href="#"><p class="left-icon">Outdoor</p></a>
          </div>      
        </figure>
        </div>

      <div class = figures>
      <figure class="thumb-photos animation-element slide-left">
        <img src="https://preview.ibb.co/bSwFL8/IMG_1219.jpg" alt="sample32"/>
        <div>
          <a href="#"><p class="left-icon">Birthdays</p></a>
        </div>      
      </figure>

      <figure class="thumb-photos animation-element slide-left">
        <img src="https://image.ibb.co/fgOvL8/90ee0b4d_faf2_4709_84b5_988a2067d54e.jpg" alt="sample32"/>
        <div>
          <a href="#"><p class="left-icon">Graduations</p></a>
        </div>      
      </figure>
    
    </div>


    </div>
  </div>

</div>