<!-- Navbar -->

<div class="underbackground">
<nav class="navbar navbar-fixed-top navbar-default ">
  <div class="container-fluid">
    <div class="header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <div class="title"> <a href="#"> NOOR PHOTOGRAPHY</a></div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar" style="background:#FAFAFA">
      <ul class="nav navbar-nav">
        <li><a href="#about-sec">About Me</a></li>
        <li><a href="#gallery-sec">Gallery</a></li>
        <li><a href="#pricing-sec">Pricing</a></li>
        <li><a href="#contact-sec">Contact</a></li>
      </ul>
    </div>
  </div>
  </div>
  </div>
</nav>
</div>

<!-- waves -->

 <div class="backgrounds">
  <div class="background layer-3"><div class="head"></div></div>
  <div class="background layer-2"><div class="head"></div></div>
  <div class="background layer-1"><div class="head"></div></div>
</div>