<!-- Navbar -->
  <div class="underbackground">
  <nav class="navbar navbar-fixed-top navbar-default ">
    <div class="container-fluid">
      <div class="header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <div class="title"> <a href="/"> NOOR PHOTOGRAPHY</a></div>
    </div>
    </div>
  </nav>

<!-- waves -->

 <div class="backgrounds">
  <div class="background layer-3"><div class="head"></div></div>
  <div class="background layer-2"><div class="head"></div></div>
  <div class="background layer-1"><div class="head"></div></div>
  </div>
</div>