<div class="m-cont">
  <h1 class="section-title animation-element slide-left">Prices</h1>

  <!-- center elements -->
  <div class="main-container">
    <div class="fixer-container">

  <!-- plans section -->
      <div class="plans animation-element slide-left">

        <!-- first plan (MINI) -->
        <div class="plan">
          <header><i class="ion-social-instagram"></i>
            <h4 class="plan-title">
              Mini
            </h4>
            <div class="plan-cost"><span class="plan-price">$100</span></div>
          </header>
          <ul class="plan-features">
            <li>1 Hour
            </li>
            <li>10+ Photos for a person 
            </li>
            <li>15+ Photos for events (birthday, graduation, ...)
            </li>
            <li>Guarnteed within 12 business days
            </li>
          </ul>
          <div class="plan-select"><a href="">Book now</a></div>
        </div>

        <!-- second plan (REGULAR) -->
        <div class="plan">
          <header><i class="ion-ios-heart"></i>
            <h4 class="plan-title">
              Regular
            </h4>
            <div class="plan-cost"><span class="plan-price">$150</span></div>
          </header>
          <ul class="plan-features">
            <li>2 Hours
            </li>
            <li>15+ Photos for a person
            </li>
            <li>20+ Photos for events (birthday, graduation, ...)
            </li>
            <li>Guarnteed within 14 business days
            </li>
          </ul>
          <div class="plan-select"><a href="">Book now</a></div>
        </div>

        <!-- third plan (EXTENDED) -->
        <div class="plan">
          <header><i class="ion-ios-star"></i>
            <h4 class="plan-title">
              Extended
            </h4>
            <div class="plan-cost"><span class="plan-price">$200</span></div>
          </header>
          <ul class="plan-features">
            <li>3 Hours
            </li>
            <li>20+ Photos for a person
            </li>
            <li>25+ Photos for events (birthday, graduation, ...)
            </li>
            <li>Guarnteed within 20 business days
            </li>
          </ul>
          <div class="plan-select"><a href="">Book now</a></div>
        </div>

        <!-- late fee warnings -->
        <br>
        <br>
        <h4> * Dropbox or USB option is provided.</h4>
        <h4> * $10 fee will be charged if the customer is 15 minutes late without earlier notice.</h4>
        <h4> * Photoshoot will be canceled if the customer is 30 minutes late without earlier notice.</h4>
        <br>


      </div>



    </div>
  </div>
</div>