// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main:#F69899;
$maind:#AD5858;

@font-face {
  font-family: "arconFont";
  src: url('/assets/Arcon-Regular');
}

body {
   background-color: $main !important;
   font-family: "arconFont" !important;
   overflow:auto;
   text-align: center;
   a {
      color:inherit;
      text-decoration:none;
      transition:color .25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
   }

   .section-title {
      padding-top: 60px;
      padding-bottom: 55px;
   }

  .content {
           display:flex;
           position: absolute;
           top:500%;
           left:30px;
           right:20px;
           transform:translateY(-50%);
           z-index:1000;
           color:$main;
           line-height:32px;
           a {
              font-size:18px;
              padding:0 10px;
              &:hover {
                 color:$maind;
              }
           }
    }
   .underbackground {
      background-color:#f8f8f8;
      position: absolute;
      top:0px;
      left:0px;
      right:0px;
      height:120px !important;
      .header {
         background-color:#f8f8f8; 
         height:50px;
         display:flex;
         position: fixed;
         top:50px;
         left:30px;
         right:20px;
         transform:translateY(-50%);
         color:$main !important;
         line-height:24px !important;
         a {
            font-size:18px;
            padding:0 10px !important;
            &:hover {
               color:$maind !important;
            }
         }
         .title {
            flex-grow:1 !important;
            text-align: left;
            a {
               font-size:32px;
                 background: -webkit-linear-gradient(270deg, #F69899, #CA5858);
      color: #ff6364;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
            }
            a:hover{
            background: -webkit-linear-gradient(270deg, #AD5858, #CCB5B5);
      color: #ff6364;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
            }
         }
      }
   }
   .backgrounds {
      .background {
         position: absolute;
         height:20px;
         left:0px;
         right:0px;
         top:120px;
         .head {
            position: absolute;
            bottom:100%;
            left:0px;
            right:0px;
            height:20px;
         }
         &.layer-3 {
            background-color:#FAF0F0;
            animation: bg 2s ease-in-out infinite;
            top:110px;
            .head {
               background:url(https://i.koya.io/grapefruitwave_3.svg);
               background-position:-60px 0px;
            }
         }
         &.layer-2 {
            background-color:#FBD7D7;
            animation: bg 2s ease-in-out infinite;
            top:114px;
            animation-delay:-0.5s;
            .head {
               background:url(https://i.koya.io/grapefruitwave_2.svg); //changing opacity doesn't give the right effect
               background-position:-40px 0px;
            }
         }
         &.layer-1 {
            height:30px;
            background-color:$main;
            animation-delay:-1s;
            .head {
               background:url(https://i.koya.io/grapefruitwave_1.svg);
            }
         }
      }
   }
   section.content {
      position: absolute;
      top:150px;
      left:20px;
      right:220px;
      color:#fff;
      h1, h2, h3, h4, h5, h6, p {
         margin:0;
         font-weight:400;
      }
      h1 {
         font-size:32px;
      }
   }

}

.navbar-fixed-top {
  border-width: 0 !important;
}

nav {
  height: 80px;
}


@keyframes bg {
   0%, 100% {
      transform:translateY(12px);
   }
   50% {
      transform:translateY(0px);
   }
}

.icon-bar
{
  background:#a94442 !important; /*Whatever colour you want for icon lines*/
}
.navbar-toggle
{
  background:#fcd7d8 !important; /*Whatever colour you want for background */
}

@media (max-width: 767px) {
    /* CSS goes here */
               .title {
            flex-grow:1 !important;
            text-align: center !important;
            a {
               font-size:20px !important;
            }
         }
    
}



.navbar-collapse{
  a{
    font-size: 18px !important;
    }
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    border-radius: 17px;
    padding-top: 1px !important;
    padding-bottom: 3px !important;
}

#myNavbar {
    border-radius: 15px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
border-radius: 15px;
background-color:#f2dede7d !important;
}

.ion, .ionicons,.ion-social-instagram:before {
  display: contents !important;
 }
  