<!DOCTYPE html>
<html>
  <head>
    <title>NoorPhotography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="underbackground">
   <div class="header">
      <div class="title"><a href="">grapefruit</a></div>
      <a href="/about">about</a>
      <a href="/news">news</a>
      <a href="/documentation">docs</a>
      <a href="/pricing">pricing</a>
      <a href="/contact">contact</a>
      <a href="#login">log in</a>
   </div>
</div>
<div class="backgrounds">
   <div class="background layer-3"><div class="head"></div></div>
   <div class="background layer-2"><div class="head"></div></div>
   <div class="background layer-1"><div class="head"></div></div>
</div>
  </body>
</html>
